.footer-nav-widgets-wrapper {
  background: $footer-background_1;
  padding: 0;

  .footer-widgets a {
    color: $footer-color-1;
  }

  a {
    color: $footer-color-1;
  }
}

footer#site-footer {
  background: $footer-background-2;

  p {
    margin: 0;
  }

  .section-inner {
    max-width: 1240px;
    padding: 28px 20px;
    font-size: 12px;
    color: $footer-color-2;

    a {
      color: $footer-color-2;

      &:hover {
        color: $footer-color-2;
      }
    }
  }
}

.footer-inner {
  max-width: 1240px;
  padding: 20px;
  color: $footer-color-1;

  .footer-menu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;

    a {
      padding: 5px 15px;
      display: inline-block;
      color: $footer-color-2;

      &:hover {
        color: $footer-color-2;
      }
    }
  }

  h2 {
    font-size: 18px;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    ::placeholder {
      color: $primary-color-dark;
      font-weight: 500;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $primary-color-dark;
      font-weight: 500;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $primary-color-dark;
      font-weight: 500;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $primary-color-dark;
      font-weight: 500;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $primary-color-dark;
      font-weight: 500;
    }

    .form-group:not(:last-child) {
      margin-bottom: 0;
    }

    label {
      display: none;
    }
  }

  .search-field {
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    min-width: 370px;
    background: #fff;
  }

  .search-submit {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: $zeroOneColor_4;
    }
  }
}

.footer-widgets {
  display: flex;
  flex-wrap: wrap;

  .widget_search {
    width: 100%;
    margin: 20px 0 40px;
  }

  .widget_archive, .widget_categories, .widget_meta, .widget_recent_entries, .widget_recent_comments {
    width: 100%;
    text-align: center;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .widget_archive, .widget_categories {
    a {
      background: lighten($footer-background_1, 15%);
      color: $footer-color_1;
      padding: 2px 10px;
      display: inline-block;
      margin: 5px;
      border-radius: 25px;
      font-size: 14px;
    }
  }

  .widget_meta, .widget_recent_entries {
    li {
      &:after {
        content: " | ";
        padding: 0px 15px;
        color: $footer-color_1;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  .widget_recent_comments {
    li {
      width: 100%;
      padding: 5px 0;
    }
  }
}

.top-link a {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 90px;
  height: 90px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  background: $zeroOneColor_1;
  border-radius: 100%;
  animation: pulse 2s alternate infinite ease-in;

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: $zeroOneColor_1;
    border-radius: 100%;
    left: -20px;
    bottom: 0;
    z-index: -1;
  }

  &:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: $zeroOneColor_1;
    border-radius: 100%;
    right: -10px;
    top: 0;
    z-index: -1;
  }

  &:hover {
    text-decoration: none;

    &, &:after, &:before {
      background: lighten($zeroOneColor_2,5%);
    }
  }
}
